<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInfo Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<script>
    $(document).ready(function() {
        $('#queryButton').click(function() {
            var paramMap = {
                user_name : $('#userName').val(),
                limit_st_dy : $('#limitStDy').val(),
                limit_ed_dy : $('#limitEdEy').val(),
                input_dy : $('#inputEy').val()
			};
            $.ajax({
                url: '/userInfo/getUserInfo',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramMap),
                success: function(result) {
                	alert('입력되었습니다.');
                },
                error: function() {
                    alert('Error retrieving data');
                }
            });
        });
    });
</script>

body>
<h4>건전화정보입력</h4>
<table>
	<tr>
		<td>이름</td>
		<td><input type="text" id="userName" value="한철"><br></td>
	</tr>
	<tr>
		<td>시작일(베팅제한기간)</td>
		<td><input type="text" id="limitStDy" value="20240220"><br></td>
	</tr>
	<tr>
		<td>종료일(베팅제한기간)</td>
		<td><input type="text" id="limitEdDy" value="20241120"><br></td>
	</tr>
	<tr>
		<td>입력일</td>
		<td><input type="text" id="input_dy" value="20240220"><br></td>
	</tr>
</table>

<input type="button" value="입력하기" id="queryButton"><br>

</body>
</html>

