<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunnerInfo Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>

<script>
    $(document).ready(function() {
        $('#queryButton').click(function() {
            var paramMap = {
                runner_name : $('#runnerName').val()
			};
            $.ajax({
                url: '/runnerInfo/getRunnerInfo',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramMap),
                success: function(result) {
                    var htmlcont="";
                	result.forEach(function(item) {
	                	htmlcont+="<tr>";
	               		htmlcont+="<td>"+ item.runner_name + "</td>";
	           			htmlcont+="<td>"+ item.runner_age + "</td>";
	       				htmlcont+="<td>"+ item.runner_group + "</td>";
	   					htmlcont+="<td>"+ item.runner_weight + "</td>";
	   					htmlcont+="<td>"+ item.runner_hight + "</td>";
	   					htmlcont+="<td>"+ item.runner_win_rate + "</td>";
	   					htmlcont+="</tr>";
                	});
                    $('#result_val').html(htmlcont);
                },
                error: function() {
                    $('#result_val').html('<tr><td colspan="6">No data found</td></tr>');
                }
            });
        });
    });
</script>

<body>
<h4>주자</h4>
이름
<input type="text" id="runnerName" value="mdigance0">
<input type="text" id="id" placeholder="Enter ID">
<input type="button" value="조회하기" id="queryButton">
<p>Result: <span id="result"></span></p>
<table>
    <colgroup>
        <col style="width:25%" />
        <col style="width:25%" />
        <col style="width:25%" />
        <col />
    </colgroup>
    <thead>
    <tr>
        <td>이름</td>
        <td>나이</td>
        <td>소속</td>
        <td>몸무게</td>
        <td>키</td>
        <td>승률</td>
    </tr>
    </thead>
    <tbody id="result_val"></tbody>
</table>

</body>
</html>
