<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelfLimit Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<script>
    $(document).ready(function() {
        $('#queryButton').click(function() {
            //var id = $('#id').val();
            var paramMap = {
                user_name : $('#userName').val()
			};
            $.ajax({
                url: '/selfLimit/getSelfLimit',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramMap),
                success: function(result) {
                	var htmlcont="";
                	result.forEach(function(item) {
	                	htmlcont+="<tr>";
	               		htmlcont+="<td>"+ item.user_name + "</td>";
	           			htmlcont+="<td>"+ item.st_dy + "</td>";
	       				htmlcont+="<td>"+ item.ed_dy + "</td>";
	   					htmlcont+="<td>"+ item.day_limit_amt + "</td>";
	   					htmlcont+="<td>"+ item.mon_limit_amt + "</td>";
	   					htmlcont+="<td>"+ item.year_limit_amt + "</td>";
	   					htmlcont+="</tr>";
                	});
                    $('#result_val').html(htmlcont);
                },
                error: function() {
                    $('#result_val').html('<tr><td colspan="6">No data found</td></tr>');
                }
            });
        });
    });
</script>

<body>
<form id="addForm">
    <h4>SelfLimit Query</h4>
이름 
<input type="text" id="userName" value="'홍길동'">
아이디
<input type="text" id="userId">
<input type="text" id="id" placeholder="Enter ID">
<input type="button" value="조회하기" id="queryButton">

<table style="width:850px">
	<colgroup>
		<col style="width:10%" />
		<col style="width:23%" />
		<col style="width:23%" />
		<col style="width:13%" />
		<col style="width:13%" />
		<col />
	</colgroup>
    <thead>
    	<tr>
	        <th>고객명</th>
	        <th>기간(시작일)</th>
	        <th>기간(종료일)</th>
	        <th>일일제한금액</th>
			<th>주일제한금액</th>
			<th>달제한금액</th>
        </tr>
    </thead>	
    <tbody id="result_val"></tbody>      
</table>
</form>
</body>
</html>

