<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>



<script>
    $(document).ready(function() {
        $('#queryButton').click(function() {
            var id = $('#id').val();
            id=100;
            var paramMap = {
                user_name : $('#userName').val(),
                user_id : $('#userId').val(),
                user_pw : $('#userPw').val()
			};
            $.ajax({
                url: '/sell/getSell',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramMap),
                success: function(result) {
                    var htmlcont="";
                    htmlcont+="<tr>";
                    htmlcont+="<td>"+ result.user_name + "</td>";
                    htmlcont+="<td>"+ result.race_no + "</td>";
                    htmlcont+="<td>"+ result.win_type + "</td>";
                    htmlcont+="<td>"+ result.runner_no + "</td>";
                    htmlcont+="<td>"+ result.bet_amt + "</td>";
                    htmlcont+="<td>"+ result.win_rate + "</td>";
                    htmlcont+="<td>"+ result.ret_amt + "</td>";
                    htmlcont+="</tr>";
                    $('#result_val').html(htmlcont);
                },
                error: function() {
                    $('#result_val').text('Error retrieving data');
                }
            });
        });
    });
</script>

<body>
<h4>Sell</h4>
이름
<input type="text" id="userName">
아이디
<input type="text" id="userId">
<input type="text" id="id" placeholder="Enter ID">
<input type="button" value="조회하기" id="queryButton">
<p>Result: <span id="result"></span></p>
<table>
    <thead>
        <tr>
            <td>고객명</td>
            <td>경주번호</td>
            <td>승식</td>
            <td>선수선택</td>
            <td>배팅금액</td>
            <td>배당</td>
            <td>환불금액</td>
        </tr>
    </thead>
    <tbody id="result_val"></tbody>
</table>
</body>
</html>
