<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SellInsert Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h4>SellInsert</h4>


    <script>
        $(document).ready(function() {
            $('#queryButton').click(function() {
                var paramMap = {
                    user_name : $('#userName').val(),
                    race_no : $('#raceNo').val(),
                    win_type : $('#winType').val(),
                    runner_no : $('#runnerNo').val(),
                    bet_amt : $('#betAmt').val()
                };
                $.ajax({
                    url: '/sellInsert/getSellInsert',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(paramMap),
                    success: function(result) {
                    	var htmlcont = "";
                    	
                        $('#result').text('주자이름: ' + result.runner_name);
                    },
                    error: function() {
                        $('#result').text('Error retrieving data');
                    }
                });
            });
        });
    </script>

    이름
    <input type="text" id="userName">
    아이디
    <input type="text" id="userId">
    <input type="text" id="id" placeholder="Enter ID">
    <p>Result: <span id="result"></span></p>
    <table>
        <tr>
            <td>고객명</td>
            <td><input type="text" id="userName"></td>
        </tr>
        <tr>
            <td>경주번호</td>
            <td><input type="text" id="raceNo"></td>
        </tr>
        <tr>
            <td>승식</td>
            <td><input type="text" id="winType"></td>
        </tr>
        <tr>
            <td>선수선택</td>
            <td><input type="text" id="runnerNo"></td>
        </tr>
        <tr>
            <td>배팅금액</td>
            <td><input type="text" id="betAmt"></td>
        </tr>
    </table>

    <input type="button" value="입력하기" id="queryButton">

</body>
</html>
