<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInfo Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<script>
    $(document).ready(function() {
        $('#queryButton').click(function() {
            var paramMap = {
                user_name : $('#userName').val(),
                user_id : $('#userId').val(),
                user_pw : $('#userPw').val(),
                user_email : $('#userEmail').val()
			};
            $.ajax({
                url: '/userInfo/getUserInfo',
                //type: 'GET',
                //data: { id : id },
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramMap),
                success: function(result) {
                	var htmlcont="";
                	result.forEach(function(item) {
						htmlcont+="<tr>";
						htmlcont+="<td>"+ item.user_name + "</td>";
						htmlcont+="<td>"+ item.user_id + "</td>";
						htmlcont+="<td>"+ item.user_pw + "</td>";
						htmlcont+="<td>"+ item.user_email + "</td>";
						htmlcont+="</tr>";
					});
                    $('#result_val').html(htmlcont);
                },
                error: function() {
                    $('#result_val').html('Error retrieving data');
                }
            });
        });
    });
</script>

<body>
    <h4>UserInfo Query</h4>
이름 
<input type="text" id="userName" value="ksatterley0"><br>
아이디
<input type="text" id="userId"><br>
이메일
<input type="checkbox" id="userEmail1" value="tiny.cc"><br>
<input type="checkbox" id="userEmail2" value="desdev.cn"><br>
<input type="checkbox" id="userEmail3" value="1und1.de"><br>


<input type="text" id="id" placeholder="Enter ID">
<input type="button" value="조회하기" id="queryButton">

<table style="width:850px">
	<colgroup>
		<col style="width:25%" />
		<col style="width:25%" />
		<col style="width:25%" />
		<col />
	</colgroup>
    <thead>
    	<tr>
	        <th>이름</th>
	        <th>아이디</th>
	        <th>패스워드</th>
	        <th>이메일주소</th>
        </tr>
    </thead>
    <tbody id="result_val"></tbody>
</table>

</body>
</html>

