<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInsert Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<script>
$(function(){
    $("#divAg").hide();
    $("#divAcc").hide();
    $("#userInsert").attr("disabled", true);
});

$(document).ready(function() {
    $('#userInsert').click(function() {
        var paramMap = {
            userName : $('#userName').val(),
            userId : $('#userId').val(),
            userPw : $('#userPw').val(),
            userEmail : $('#userEmail').val()
        };
        $.ajax({
            url: '/userInsert/getUserInsert',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(paramMap),
            success: function(result) {
                alert('입력되었습니다.');
                $("#divAg").show();
            },
            error: function() {
                alert('Error retrieving data');
            }
        });
    });
});

function fn_abc1(){
    var paramMap = {
        userName : $('#userName').val(),
        userId : $('#userId').val(),
        userPw : $('#userPw').val(),
        userEmail : $('#userEmail').val(),
        agreeYn : $('input[class=clAgree]:checked').val()
    };

    $.ajax({
        url: '/userInsert/modUserAgree',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(paramMap),
        success: function(result) {
            alert('동의 되었습니다.');
            $("#divAcc").show();
        },
        error: function() {
            alert('Error retrieving data');
        }
    });
}

function fn_abc2(){
    var paramMap = {
        userName : $('#userName2').val(),
        accNo : $('#accNo').val(),
        cardNo : $('#cardNo').val(),
        holdYn : $('#holdYn').val(),
        <!--오늘 날짜 가져오기-->
        regDt : $('#regDt').val()
    };
    $.ajax({
        url: '/userInsert/insertUserAccCard',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(paramMap),
        success: function(result) {
            alert('계좌카드생성 되었습니다.');
        },
        error: function() {
            alert('Error retrieving data');
        }
    });
}

function fn_dulc(){
    alert("중복체크");
    var paramMap = {
        userId : $('#userId').val()
    };
    $.ajax({
        url: '/userInsert/userIdChk',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(paramMap),
        success: function(result) {
            console.log(result);
            if(result.cnt > 0){
                alert('사용아이디가 있습니다.');
                $("#userInsert").attr("disabled", true);
            }
            else {
                alert('사용가능합니다.');
                $("#userInsert").attr("disabled", false);
            }

        },
        error: function() {
            alert('Error retrieving data');
        }
    });
    $("#userInsert").attr("disabled", false);
}
</script>

<body>
    <h4>고객정보입력</h4>
<table>
<tr>
<td>이름</td>
<td><input type="text" id="userName" value="한철"><br></td>
</tr>
<tr>
<td>아이디</td>
<td><input type="text" id="userId" value="hch">
    <input type="button" onclick="fn_dulc()" value="중복체크">
</td>
</tr>
<tr>
<td>패스워드</td>
<td><input type="text" id="userPw" value="1234"><br></td>
</tr>
<tr>
<td>이메일주소</td>
<td><input type="text" id="userEmail" value="a1234@nate.com"><br></td>
</tr>
</table>    

<input type="button" value="입력하기" id="userInsert"><br>

<div id="divAg">
    마켓팅동의(OK)<input type="radio" class="clAgree" value="OK"><br>
    마켓팅동의(NO)<input type="radio" class="clAgree" value="NO"><br>
    <input type="button" value="동의하기" id="queryButton1" onclick="fn_abc1()"><br>
</div>

<div id="divAcc">
    fep계좌및카드생성하기<br>
    <input type="text" id="userName2" value="한철"><br>
    <input type="text" id="accNo" value="1234"><br>
    <input type="text" id="cardNo" value="5678"><br>
    <input type="text" id="holdYn" value="N"><br>
    <input type="text" id="regDt" value="2024.10.23"><br>
    <input type="button" value="계좌및카드생성하기" id="queryButton2" onclick="fn_abc2()"><br>
</div>

</body>
</html>

