<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInsert Query</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
table, tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<script>
    $(document).ready(function() {
        $('#queryButton').click(function() {
            var paramMap = {
                user_name : $('#userName').val(),
                race_no : $('#raceNo').val(),
                win_type : $('#winType').val(),
                race_amt : $('#raceAmt').val(),
                win_rate : $('#winRate').val(),
                ret_amt : $('#retAmt').val()
            };
            $.ajax({
                url: '/winnerInsert/getWinnerInsert',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramMap),
                success: function(result) {
                	alert('입력되었습니다.');
                },
                error: function() {
                    alert('Error retrieving data');
                }
            });
        });
    });
</script>

<body>
    <h4>UserInsert Query</h4>
<table>
<tr>
    <td>고객명</td>
    <td><input type="text" id="userName" value="고길동"><br></td>
    </tr>
<tr>
    <td>경주번호</td>
    <td><input type="text" id="raceNo" value="123"><br></td>
    </tr>
<tr>
    <td>승식</td>
    <td><input type="text" id="winType" value="삼쌍승"><br></td>
    </tr>
<tr>
    <td>배팅금액</td>
    <td><input type="text" id="raceAmt" value="1000"><br></td>
    </tr>
<tr>
    <td>배당</td>
    <td><input type="text" id="winRate" value="10.5"><br></td>
</tr>
<tr>
    <td>환불금액</td>
    <td><input type="text" id="retAmt" value="1"><br></td>
</tr>
</table>    

<input type="text" id="id">
<input type="button" value="입력하기" id="queryButton"><br>

</body>
</html>

