<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FepInfoMapper">
    <select id="selFepInfo" parameterType="map" resultType="map">
        select
			user_name,
			in_amt,
			out_amt,
			rem_amt
		from t_fep_info
		where user_name=#{user_name}
    </select>
</mapper>
