<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.LoginMapper">
    <select id="selLogin" parameterType="map" resultType="map">
		select
			user_name
		from
			t_user_info
		where 1=1
			and user_id=#{user_id}
		<!--and user_pw=#{user_pw}-->
		<!--sql로그 확인하는 방법-->
    </select>
</mapper>
