<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RunnerInfoMapper">
    <select id="selRunnerInfo" parameterType="map" resultType="map">
        select 
			runner_name,
			runner_age,
			runner_group,
			runner_weight,
			runner_hight,
			runner_win_rate
		from t_runner_info
		LIMIT 0,1
    </select>
</mapper>
