<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SelfCheckInsertMapper">
    <insert id="selSelfCheckInsert" parameterType="map">
		insert into
            t_health
            (user_name, limit_st_dy, limit_ed_dy, input_dy)
		values
            (#{user_name},
            #{limit_st_dy}, #{limit_ed_dy},
            DATE_FORMAT(now(), '%Y%m%d %H%i%s')
            )
    </insert>
</mapper>
