<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SelfLimitMapper">
    <insert id="selSelfLimit" parameterType="map">
		insert into t_self_limit(user_name,
			st_dy,
			ed_dy,
			day_limit_amt,
			mon_limit_amt,
			year_limit_amt)
		values (#{user_name}, #{st_dy}, #{ed_dy},
			#{day_limit_amt}, #{mon_limit_amt},
			#{year_limit_amt})
    </insert>
</mapper>
