<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SellInsertMapper">
	<select id="chkSell" parameterType="map" resultType="map">
		select
			sum(day_limit_amt) day_limit_amt,
			sum(mon_limit_amt) mon_limit_amt,
			sum(year_limit_amt) year_limit_amt
		from t_self_limit
		where 1 = 1
			and user_name=#{user_name}
			and date_format(sysdate(), '%Y%m%d') >= st_dy
			and date_format(sysdate(), '%Y%m%d') <![CDATA[<=]]> ed_dy
		group by user_name
	</select>

    <insert id="selSellInsert" parameterType="map">
		insert into t_sell
			(user_name, race_no, win_type, runner_no, bet_amt, win_rate, ret_amt)
		values
			(#{user_name}, #{race_no}, #{win_type}, #{runner_no}, #{bet_amt},
			#{win_rate}, #{ret_amt})
    </insert>

	<select id="initSellInsert" parameterType="map" resultType="map">
		select
			@rownum:=@rownum+1 as rownum,
			user_name, race_no, win_type,
			runner_no, bet_amt
		from
			t_sell
		where 1 = 1
			and user_name=#{user_name}
			and (@rownum:=0)=0
			LIMIT 1
	</select>

	<select id="initSellName" resultType="map">
		select
			user_name
		from
			t_sell
		where 1 = 1
	</select>
</mapper>
