<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TotalMapper">

    <select id="releaseFocus" parameterType="map" resultType="map">
		select
			count(*) cnt
		from
			t_health
		where 1=1
			and user_name=#{user_name}
			and date_format(sysdate(), '%Y%m%d') >= limit_st_dy
			and date_format(sysdate(), '%Y%m%d') <![CDATA[<=]]> limit_ed_dy
    </select>

	<select id="noticePopup" parameterType="map" resultType="map">
		select
			popup_no, count(*) cnt
		from
			t_notice_popup
		where 1 = 1
			and date_format(sysdate(), '%Y%m%d') >= st_dy
			and date_format(sysdate(), '%Y%m%d') <![CDATA[<=]]> ed_dy
		group by popup_no
	</select>

	<select id="noticePopupLimit" parameterType="map" resultType="map">
		select
			a.popup_no, count(*) cnt
		from
			t_notice_popup a, t_notice_popup_limit b
		where 1 = 1
			and date_format(sysdate(), '%Y%m%d') >= a.st_dy
			and date_format(sysdate(), '%Y%m%d') <![CDATA[<=]]> a.ed_dy
			and a.popup_no = b.popup_no
			and b.card_no = #{card_no}
			and b.card_seq = #{card_seq}
		group by popup_no
	</select>

</mapper>
