<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserInsertMapper">
    <insert id="selUserInsert" parameterType="map">
    	insert into
            T_USER_INFO
            (USER_NAME, USER_ID, USER_PW, USER_EMAIL)
    	values
            (#{userName},#{userId},#{userPw},#{userEmail})
    </insert>

    <update id="modUserAgree" parameterType="map">
        update
            T_USER_INFO
        set
            agree_yn=#{agreeYn}
        where 1=1
            and user_name = #{userName}
    </update>

    <insert id="insertUserAccCard" parameterType="map">
        insert into
            t_acc_card
            (user_name, acc_no, card_no, hold_yn, reg_dy)
        values
            (#{userName}, #{accNo}, #{cardNo}, #{holdYn}, #{regDt})
    </insert>

</mapper>
