<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.WinnerInsertMapper">
    <insert id="selWinnerInsert" parameterType="map">
    	insert into t_user_info (user_name, user_id, user_pw, user_email)
    	values ('100','2','3','4')
    </insert>
</mapper>
